node.name = 0.0.0.0
node.port = 8081

# Sampledata. Please change.
node.db.driver=com.mysql.jdbc.Driver
node.db=jdbc:mysql://172.19.79.60/dbaufzug
node.db.user=dbaufzug
node.db.pw=n5PSbzKma74XyNnd

node.mapsource=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
node.hsts=false
node.contactmail=
